@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;800;900&display=swap');

html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

header nav a {
    font-weight: bold;
}
